<app-menu-dribbble [user]="user" (get_user)="Get_User()" ></app-menu-dribbble>
<div>
    <div  [ngClass]="show_response ? 'col-6 float-start' : 'container-fluid' ">
        <router-outlet ></router-outlet>
    </div>
    <div [ngClass]="show_response ? 'col-6 float-end' : '' " [ngStyle]="{'display': !show_response ? 'none' : ''}">
        <h1>Respuesta del API</h1>
        <app-response-dribbble (updateComponent)="updateComponent()" [response]="response"></app-response-dribbble>
    </div>
</div>
